<h1>username: </h1>
<form>
    <input autocomplete="off" list="movies" class="form-control" type="text" placeholder="aggiungi movies ai tuoi preferiti" id="username" name="movie" [(ngModel)]="movieInput" >
    <datalist id="movies">
      <option value="ciao">ciao</option>
    </datalist>
    <br>



    <button class="btn btn-primary" (click)="addMovies()">Add movie</button>

</form>

<ul>
    <li *ngFor="let movie of arrayMovie">

      il tuo film favoito {{movie.movie}}

    
        
    </li>
</ul>