.formOfferPlace{
margin-bottom: 5rem;
   

    
}


// intruduccion-section
button {
    border-radius: 20px;

  }
  



.centerDiv{
    margin-top: 2rem;
    margin-bottom: 5rem;

    
    
}

form{
    display: flex;
    flex-direction: column;
   

    
  

}

.input{
    padding: 2rem;
}

