
#datadioggi {
    background-color: rgb(146, 0, 0);
    color: rgb(214, 118, 0);
    font-size: xx-large;
    padding: 1rem 2rem;
}

#oracazzona{
    background-color: rgb(146, 0, 0);
    color: rgb(214, 118, 0);
    font-size: xx-large;
    padding: 1rem 2rem;

}
.button {
    background-color: blueviolet;
    padding: 1rem 2rem;
    }