
<div class="container">
    <h1>Registrati per creare un proviolo & aggiungere i tuoi movies favoriti</h1>

    <br>
    
    <form class="">
        
        <input class="form-control" type="text" placeholder="email" [(ngModel)]="authUser.email" id="email" name="email" >
        <input class="form-control" type="text" placeholder="username" [(ngModel)]="authUser.username" id="username" name="username">
        <input class="form-control" type="text" placeholder="password" [(ngModel)]="authUser.password" id="password" name="password" >
        <input class="form-control" type="text" placeholder="telefono" [(ngModel)]="authUser.telefono" id="telefono" name="telefono">
    
        <br>
        <button class="btn btn-danger" (click)="register()">Register & create Profile</button>
    
    </form>
    
    

</div>  