/* IMPOSTAZIONI GENERALI */
body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    text-align: center;
    overflow: auto;

}

h1,
h3 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: xxx-large;
}


/* HEADER */
header {
    background-color: black;
}

header img {
    padding: 7%;
    max-width: 250px;
    max-height: ;

}


/* MAIN */
#title {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 50px;
    padding-top: 40px;


}



.bottone {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;


}

.moto {
    padding-bottom: 50px;
}

.laptop img {
    border-radius: 100%;
    margin-bottom: 50px;
    max-width: 100%;
}

.lavoro {
    padding-bottom: 50px;
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.dove {
    padding-bottom: 50px;
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.ruolo {
    padding-bottom: 50px;
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.liberta {
    padding-bottom: 50px;
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
}





.garantiaepi {
    background-color: #e22d0e;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    margin-bottom: 70px;

}

.garantiaepi div p {
    color: #fff;
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 50px;
}

.mario {
    padding-top: 50px;
}

/* ELEMENTI NELL' ASIDE */

article {
    margin: 5vw;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 50px;
}

.art1,
.art2,
.art3 {
    border-color: #dee1e3;
    border: solid;
    margin-bottom: 50px;
    border-width: 0px
}

article img {
    max-width: 100%;
}


article a {
    text-decoration: none;
    font-size: smaller;
    color: #25a2c3;
    font-weight: bold;

}

/* FOOTER */

footer {
    background-color: #25a2c3;
    color: #fff;
    margin-top: px;
    font-size: large;
    overflow: auto;
}

footer a {
    color: #fff;
}

.contattatci {
    font-size: xx-large;
    font-weight: bold;

}



.copyright {
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: small;

}

hr {
    width: 17%;
    margin-bottom: 30px;

}