.esercizio1 {
    background-color:blue;
    padding: 3rem 3rem;
    border: 3px solid black;
    color: white;
    text-align: center;
}
.esercizio2 {
    background-color:yellow;
    padding: 3rem 3rem;
    border: 3px solid black;
    color: white;
    text-align: center;
}